*{
  padding: 0px;
  margin: 0px;
}

:root{
  --mainColor:#5096F3;
  --secondColor:#1765F3;
  --lightBg:#F6F6F6;
  --lightGrey:#e2e2e2;
}
.App{
  max-width: 100vw;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}