.user-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
.user-header-item{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 400;

}
