#chat3 .form-control {
    border-color: transparent;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

#chat3 {
    height: 94vh;
    border-radius: 0px;
    box-shadow: none;
}

.card-body {
    padding-top: 0px !important;
    box-shadow: none;
}

.message-box {
    max-height: 77%;
    overflow-y: scroll;
}

.chat-list {
    border-right: 1px solid rgb(240, 240, 240);
    overflow-y: scroll;
}

.chat-main {
    max-height: 100vh;
    overflow: hidden;
}

.input-group.srch {
    box-shadow: 0px 3px 10px -9px grey;
}

.message-box::-webkit-scrollbar,
.chat-list::-webkit-scrollbar {
    display: none;
}

.message-box,
.chat-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-head {
    box-shadow: 0px 2px 10px -8px grey;
}

.chat-list,
.message-list {
    min-height: 90vh;
}

.chat-input-box {
    position: absolute;
    bottom: 15px;
    width: 62%;
    box-shadow: 0px -2px 10px -8px grey;
    background-color: white;
    z-index: 100;
}

.emoji-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57575760;
    z-index: 110;
}
.tap-on-chat-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tap-on-chat-main .tap-container{
    max-width: 300px;
    text-align: center;
}

.chat-avatar{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
}

.single-chat{
    background-color: #f5f6f7;
}

.single-chat.me{
    background-color: var(--mainColor);
}
.single-chat-container{
    justify-content: flex-start;
}
.single-chat-container.me{
    justify-content: flex-end;
}