.admin-header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

}
.admin-header-item p{
    margin-top: -10px;
    font-size: .8rem;
    color: grey;
}
