.admin-header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 150;
    box-shadow: 0px 3px 10px -9px rgb(209, 209, 209);
}
.admin-header-item p{
    margin-top: -10px;
    font-size: .8rem;
    color: grey;
}

@media(min-width:801px){
    .sideBtn{
        display: none;
    }
}
